@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
#app {
  align-items: center;
  max-height: 100vh !important;
  overflow: hidden;
  font-family:Raleway, sans-serif;
  font-size:14px;
  line-height:1.6; 


}
.infoCard {
	min-height: 300px;
	width: 95%;
	margin-top: 30px;
	margin-left: 20px;
	padding: 20px;
}
.moreIcon {
	margin-left: 100px;
	margin-top: -20px;
	color: #005C97 !important;
}
.companyInfo {
	text-align: justify;
}
.timelineIcon {
	color: #005C97 !important;
	width: 20px !important;
	height: auto;
	margin-left: -1px;
    margin-top: -2px;
}
.paidIcon {
	color: green !important;
}
.bills {

	width: 95%;
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px;
	margin-bottom: 20px;
}
.addButton {
	margin: 20px;
}
.sideMenu {
	background-color: #005C97 !important;
	height: 100vh;
	padding-right: 0 !important;
}
.sideMenuItem {
	color: #fff !important;

}
.MainContainer {
	margin-left: 0 !important;
	
	padding-left: 0 !important;
	
	padding: 0 !important;
	height: 100vh !important;
	max-width: 100vw !important;
	margin: 0 !important;
}
.timelineCol {
	overflow-y: auto !important;
	max-height: 100vh !important;
	 font-size:16px;
}
.bills {
	overflow-y: auto !important;
	max-height: calc(100vh - 460px);
}
.loading {
	position: relative;
	bottom: 60vh;
	left: 50vw;
	overflow: hidden;
	z-index: 2;
}
.noEvents {
	color: #999;
	font-size: 900;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;

}